body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}
.cheve{
  padding-left: 35%;
  margin: 10%;
}
.botones{
  padding-left: 45%;
  align-content: center;
}