<div class="plan">
    <img src="/public/images/plan.png"
    style="width: 30%";>
    
</div>
<div class="botones">
<a href="/views/auth/cuantasPersonas/home-2-personas.hbs"><button>"Dos personas" </button></a>
<br>
<br>
<a href="/views/auth/cuantasPersonas/home-3-personas.hbs"><button>"3 personas o más"</button></a>
</div>