<h1>{{appTitle}} 🚀</h1>
<p>Welcome Ironhacker!</p>
<h2>WELCOME PAGE</h2>
<div>
<a href="/views/auth/homepage.hbs"><button>"GO TO HOME PAGE" </button></a>
<br>

</div>
<div class="plan">
    <img src="/public/images/plan.png"
    style="width: 30%";>
    
